* {
    border: 1px dotted blue;
    box-sizing: border-box;
}

body {
    /* padding: 3rem; */
    margin: -5px;
}



.Header__Container {
    width: 100.5vw;
     position: fixed;
     background-color: #FFFFFF;
}

.Header-Nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 4rem;
    padding-right: 4rem;
}



.Header-Nav__Travel-Site {
    
}

.Header-Nav__Logo {
    color: #335576;
}

.Header-Nav__List{
    display: flex;
    list-style: none;
    flex-direction: row;
    right: 4rem; 
}

.Header-Nav__Active{
    border-bottom: 4px solid #DB7A4E;
}

a {
    text-decoration: none;
    color: inherit;
}


footer {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    
}

.Hours__Times{
    display: flex;
    flex-direction: row;
}

.Hours__Times--Days {
    
    padding-right: 30px;
}

.Social__Icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 9rem;
    transform: translate(0,40px);

}

.Social__Icons--Individual {
    
    width: auto;
    height: 30px;
    
}

