* {
    border: 1px dotted blue;
    box-sizing: border-box;
}

body {
    /* padding: 3rem; */
    margin: -5px;
}

header, header h3 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    background-color: grey;
}

.Header__Container {
    width: 101%;
     position: fixed;
}

.Header-Nav {
    display: flex;
    justify-content: space-between;
    padding-left: 4rem;
    padding-right: 4rem;
}



.Header-Nav__Travel-Site {
    
}

.Header-Nav__List{
    display: flex;
    list-style: none;
    flex-direction: row;
    right: 4rem;
   
    
}

a {
    text-decoration: none;
    color: inherit;
}


footer {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    
}

.Hours__Times{
    display: flex;
    flex-direction: row;
}

.Social__Icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 9rem;
    transform: translate(0,30px);

}

.Social__Icons--Individual {
    
    width: auto;
    height: 40px;
    
}

